<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Vue.js To-Do App</title>
</head>

<body>

  <div id="app" class="container">
    {{ message }}

    <form v-on:submit.prevent="addItem">
      <input type="text" name="title" v-model="itemTitle">
      <!--
        type="submit" fires an event where on line 19 the handler "v-on-submit"
        listens to the submit and calls the defined function
      -->

      <!-- 5th version -->
      <ul>
        <li v-for="(cat, index) in categories">
          <input type="radio" v-model="selectedCat" v-bind:value="index">{{ cat }}
        </li>
      </ul>
      <button type="submit">Add</button>
    </form>

    <ul>
      <!-- 5th version -->
      <!-- add tags -->
      <li v-for="(item, index) in toDoItems" v-bind:key="item.id">
        <span v-bind:class="{ 'is-completed': item.isCompleted }">{{ item.title }}</span>
        <input type="checkbox" id="checkbox" v-model="item.isCompleted">
        <button v-bind:disabled="!item.isCompleted" @click="deleteItem(index)">Delete!</button>
        <span>{{ categories[item.category] }}</span>
      </li>
    </ul>
  </div>


  <!-- load Vue.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <script src="js/app_intermediate.js"></script>
  
</body>

</html>